<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cacheSrv" class="ru.otus.shw6.engine.MyCacheEngine">
        <constructor-arg value="30" />
    </bean>

    <bean id="dbSrv" class="ru.otus.shw11.dbService.DBServiceHibernateImpl">
        <constructor-arg ref="cacheSrv" />
    </bean>

    <bean id="tmpPrc" class="ru.otus.shw14.springWrappedServlets.TemplateProcessor" />

</beans>